################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MatchOrganizer/Database/bin/Debug/netcoreapp2.1
/MatchOrganizer/MatchOrganizer/bin/Debug/netcoreapp2.1
/MatchOrganizer/Services/bin/Debug/netcoreapp2.1
/.vs
/MatchOrganizer/.vs
